# extra
cloned_repos/

# Pascal
*.o

# Java
**build/
**dist/
**/nbproject/
/taller-de-progra/modulo_objetos/practica_5/GestorProyectosUNLP/nbproject/private/
/taller-de-progra/modulo_objetos/practica_5/GestorEstacionamiento/nbproject/private/
/taller-de-progra/modulo_objetos/practica_5/ParcialModelo/nbproject/private/
/taller-de-progra/modulo_objetos/practica_5/ModeloParcial2/nbproject/private/
/taller-de-progra/modulo_objetos/practica_5/ModeloParcial3/nbproject/private/

# Rust
**target/
